#log{
  text-align: left;
  margin-top: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  float: left;
  color: deeppink;
  margin-left: 5px;
}

header{
    justify-content: space-between;
}

h1{
    color:blue;
    text-transform: uppercase;
    text-decoration: underline;
}
img{
    height: 200;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    float:right;
}
body{
    background-image: url('./img/andriyko-podilnyk-7rA3gk1hZP0-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    font-size: 20px;
    line-height: 2em;
    
}

nav{
    text-align: right;
    background-color: limegreen;
    opacity: 0.5;
    padding: 0.5px;
    border-radius: 10px;
}

nav>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px;

}


ul>li{
    display: inline-block;
    
}

nav>ul>li>a:hover{
    background-color: lightseagreen;
    border-radius: 10px;
    opacity: 0.6;
}
h2 {
    text-align: left;
    font-family: 'Times New Roman', cursive;
    color: orangered;
    text-decoration: underline;
    text-transform: uppercase;

  }
  h3{
    font-family: 'Courier New', 'Sans-Serif';
    color:blueviolet;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }
  h4{
      font-family: 'Times New Roman', Times, serif;
      color: hotpink;
      font-size:30px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      position: relative;
  }
  h5{
      font-size: x-large;
      color:olivedrab;
  }

#cala{
    color: orange;
}
#review{
    color:yellowgreen;
}
ol>li{
    font-size: 20px;

}
table{
    padding:5px;
    border:1px black;
    border-collapse:collapse;
    background-color: chartreuse;
    opacity: 0.4;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
  }
  tr{
    padding:5px;
    border:1px solid black;
    border-collapse:colapse;
    border-radius: 10px;
  }
  td{
    padding:5px;
    border:1px solid black;
    border-collapse:collapse;
  }


  footer{
      text-align: center;
      background-color: limegreen;
      opacity: 0.7;
      width: 25%;
      height: auto;
      margin-left: 35%;
      border-radius: 25px;
  }

#style{
    text-decoration: underline;
    text-transform: uppercase;
    color: mediumspringgreen;

}

video {
    border: 5px groove lime;
    padding: 0;
    width: 32%;
    height: 200px;
    border-radius: 10px;
 }

 #float{
     float: left;
    width: 49.5%;
    height: auto;
    border: black 1px solid;
    line-height: 1em;
    margin-bottom: 1px;
    background-color: coral;
    opacity: 0.5;
    color: black;
    border-radius: 8px;
 }

 #floatright{
     float: right;
     width: 50%;
    height: auto;
    border: maroon 1px solid;
    line-height: 1.5;
    margin-bottom: 3px;
    background-color: coral;
    opacity: 0.5;
    color: black;
    border-radius: 8px;
 }

 #center{
     text-align: center;
 }
 